<div class="section-form" id="section-form-<%= section.id %>">
	<h2><%= section.title %></h2>
	<% section.bodies.each do |body| %>
		<%= body.body.html_safe %>
		<br><br>
	<% end %>
	<%= render partial: "courses/show_excersizes", locals: {section: section} %>
</div>
