body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
#new-section-form {
	display: none;
}
.section-form {
	display: none;
}
.delete-section {
	display: none;
}
.new-video-form {
	display: none;
}
body {
    background-color: #CFE6FA;
    font-weight: 200;
}
.answer {
	display: none;
}
