// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
.header {
    height: 200px;
    background: #4F8CBE;
    // background-image: url("header-img.jpg");
    background-size: cover;
    color: #FEFFFF;
    width: 100%;
    position: relative;
}
.logo {
    font-family: 'Cabin Sketch';
    letter-spacing: 0px;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 2px 2px #000002;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: white;
    box-shadow:  1px 1px 1px 0px #000002;
    transition: 1s;
    // background-image: url('logo.png');
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active { 
    text-decoration:none; 
    color: white;
}
.logo:hover {
    background-color: #CFE6FA;
}
.header-text {
    font-size: 50px;
    top: 60px;
    position: absolute;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    letter-spacing: 8px;
}
#links {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    
}
.link {
    display: inline-block;
    margin: 5px 30px;
    padding: 10px;
    color: #CFE6FA;
    background-color: #FEFFFF;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow:  1px 1px 1px 0px #000002;
    cursor: pointer;
    transition: .5s;
    font-weight: 200;
}
.link a:link, .link a:visited, .link a:hover, .link a:active { 
    text-decoration:none; 
    color: black;
}
.link:hover {
    background-color: #CFE6FA;
}
#title {
    background: #CFE6FA;
    height: 200px;
    position: relative;
    color: black;
    
}
#about {
    background: #A0CBEE;
    height: 800px;
    position: relative;
    color: black;
}
.text {
    font-size: 24px;
    margin: 30px 200px;
    position: absolute;
    font-weight: 300;
}